<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<script src="{{$jsSite}}viewport.js"></script>
	<title>彭博</title>
	<link rel="stylesheet" href="{{$cssSite}}index.css?v=3.0">
</head>
<body>
	<div class="wrapper">
		<div class="background-bg">
			<!-- <img src="" alt=""> -->
		</div>
		<div class="content">
			<div class="textCont">
				<h2 class="textH2">
					<p class="textH2_p">发现流动性最佳的债券</p>
				</h2>
				<h2 class="textH2">
					<p class="textH2_p2">把握中国债券市场机遇</p>
				</h2>
				<h3 class="textH3">
					<p class="textH3_p">彭博RMB债券平台</p>
				</h3>
				<ul class="iconList">
					<li>
						<img src="{{$imageSite}}indexIcon-01.png" alt="">
						<p>市场资讯</p>
					</li>
					<li>
						<img src="{{$imageSite}}indexIcon-02.png" alt="">
						<p>制定策略</p>
					</li>
					<li>
						<img src="{{$imageSite}}indexIcon-03.png" alt="">
						<p>报价分析</p>
					</li>
					<li>
						<img src="{{$imageSite}}indexIcon-04.png" alt="">
						<p>交易表现跟踪</p>
					</li>
				</ul>
			</div>
			<span class="logoIcon">
				<img src="{{$imageSite}}logoIcon.png" alt="">
			</span>
		</div>
	</div>
	<script src="{{$jsSite}}jquery.1.11.3.js"></script>
	<script>
		$(function(){
			$('.textCont').addClass('active');
			function gotoVideo(){
				var locat = setTimeout(function(){
					clearTimeout(locat)
					window.location.href = 'index.php?m=event&a=video';
				}, 8000)
			}
			var time = setTimeout(function(){
				clearTimeout(time);
				$('.textCont').removeClass('active').addClass('noactive');
				$('.iconList').addClass('ulactive');
				gotoVideo();
			}, 4000)
			document.addEventListener('touchmove', function (e) { e.preventDefault(); }, isPassive() ? {
				capture: false,
				passive: false
			} : false);
			function isPassive() {
			    var supportsPassiveOption = false;
			    try {
			        addEventListener("test", null, Object.defineProperty({}, 'passive', {
			            get: function () {
			                supportsPassiveOption = true;
			            }
			        }));
			    } catch(e) {}
			    return supportsPassiveOption;
			}
		})
	</script>
</body>
</html>