<script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
<script>
    var shareUrl = 'http://bloom.blue-dot.cn/rmbplatform/index.php?m=event&a=index';
  wx.config({ 
    appId: '{{$signPackage.appId}}', 
    timestamp: '{{$signPackage.timestamp}}', 
    nonceStr: '{{$signPackage.nonceStr}}', 
    signature: '{{$signPackage.signature}}',
    jsApiList: ["onMenuShareTimeline", "onMenuShareAppMessage"] 
	});
 wx.ready(function() {
     var u = navigator.userAgent;
     var isAndroid = u.indexOf('Android') > -1 || u.indexOf('Adr') > -1; //android终端
     var isiOS = !!u.match(/\(i[^;]+;( U;)? CPU.+Mac OS X/); //ios终端
     if (isiOS && window.location.href.indexOf('video') !== -1) {
         $('.videoBox').show();
         var videost = document.getElementsByTagName('video')[0];
         videost.play();
     }

                    wx.onMenuShareTimeline({
			                title: '彭博RMB债券平台',
			                link: shareUrl+"&source={{$openid}}",
			                imgUrl: 'http://bloom.blue-dot.cn/rmbplatform/view/templates/images/share.jpg',
			                success: function() {
								 blue_tracker_monitor('sharelog',{       //监测分享的方法
									  'sharetype':'wechatTimeLine',
									  'shareurl':shareUrl+'?source={{$openid}}'
								 });								
			                },
			                cancel: function() {
			                }
			            });
			
			            wx.onMenuShareAppMessage({
			                title: '彭博RMB债券平台',
			                desc : '发现流动性最佳的债券，把握中国债券市场机遇',
			                link: shareUrl+"&source={{$openid}}",
			                imgUrl: 'http://bloom.blue-dot.cn/rmbplatform/view/templates/images/share.jpg',
			                type: '', 
			                dataUrl: '', 
			                success: function() {	
								 blue_tracker_monitor('sharelog',{       //监测分享的方法
									  'sharetype':'wechatAppMessage',
									  'shareurl':shareUrl+'?source={{$openid}}'
								 });					
			                },
			                cancel: function() {
			                }
			            });
			});
</script>
<script>
(function() {
  var blue_hm = document.createElement("script");
  blue_hm.src = "http://tracking.blue-dot.cn/js/monitor.js";             
  var blue_s = document.getElementsByTagName("script")[0];
  blue_s.parentNode.insertBefore(blue_hm, blue_s);

	  //数据监测js文件加载后调用
	  blue_hm.onload = function(){
		  blue_tracker_monitor('init',{
			   'openid':'{{$openid}}',           //用户openid
			   'unionid':'',                                             //用户在多微信公众号中的身份 unionid
			   'prjid':'BDWA-000009-1',                                             //跟踪id
			   'otherid':''                                  //网站其他用于登陆的用户id
			   
		  }); 
	  }
})();
</script>
<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "//hm.baidu.com/hm.js?2a64cb1d854ac20414f3d1c66cfcae2e";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();
</script>