<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<!-- <script src="{{$jsSite}}viewport.js"></script> -->
	<meta name="viewport" content="width=device-width,minimum-scale=1.0,user-scalable=no">
	<title>彭博RMB债券平台</title>
	<link rel="stylesheet" href="{{$cssSite}}index.css?v=1.5">
	<link href="http://imgcache.qq.com/open/qcloud/video/tcplayer/tcplayer.css" rel="stylesheet">
	<script>
        (function(win, docu){
        	var docElWidth = docu.documentElement.clientWidth;
            var docElHeight = docu.documentElement.clientHeight;
        	if(window.orientation == 0 || window.orientation == 180) { 
                document.documentElement.style.fontSize = docElWidth / 5 + 'px';
            } else {
				document.documentElement.style.fontSize = docElHeight / 5 + 'px';
            }
        })(window, document)
	</script>
</head>
<body>
	<div id="rmb-video" style="opacity: 0;" class="orientation isAndro">
		<div class="video-background">
			<div class="videoBox">
				<video id="player-container-id" x5-video-orientation="landscape" cotrols playsinline webkit-playinline x5-playinline></video>
			</div>
			<img src="{{$imageSite}}poster.jpg" class="centerBg" alt="">
			<span class="playIcon"></span>
		</div>
		<div class="navList">
			<div class="video-nav">
				<div class="imgClick" style="width:.27972028rem;height:.27972028rem;position: absolute;top: .2rem;left: 0;">
					<img src="{{$imageSite}}navlistNo.png" class="slide active" alt="">
					<img src="{{$imageSite}}navlistStart.png" class="upicon" alt="">
				</div>
			</div>
			<ul class="slidelist">
				<li>
					<a href="index.php?m=event&a=register">预约演示</a>
				</li>
				<li>
					<a href="index.php?m=event&a=register">下载资料</a>
				</li>
				<li>
					<a href="index.php?m=event&a=register">报名参会</a>
				</li>
			</ul>
		</div>
		<div class="retubtn"><a href="index.php?m=event&a=register">跳过</a></div>
	</div>
</body>
<script>
	
</script>
<script src="{{$jsSite}}jquery.1.11.3.js"></script>
<script src="http://imgcache.qq.com/open/qcloud/video/tcplayer/lib/hls.min.0.8.8.js"></script>
<script src="http://imgcache.qq.com/open/qcloud/video/tcplayer/tcplayer.min.js"></script>
<script>
 	var u = navigator.userAgent;
    var isAndroid = u.indexOf('Android') > -1 || u.indexOf('Adr') > -1; //android终端
    var isiOS = !!u.match(/\(i[^;]+;( U;)? CPU.+Mac OS X/); //ios终端
	var player = TCPlayer("player-container-id", { 
            fileID: "7447398156004493740", 
            appID: "1251362550"
        });
	var iosFun = function(win, doc) {
        var docEl = doc.getElementById('rmb-video');
            resizeEvt = 'orientationchange' in window ? 'orientationchange' : 'resize',
            recalc = function(data) {
                var docElWidth = doc.documentElement.clientWidth;
                var docElHeight = doc.documentElement.clientHeight;
                if(window.orientation == 0 || window.orientation == 180) { 
	                docEl.style.width = docElHeight + 'px';  
	                docEl.style.height = docElWidth + 'px';
	                 docEl.className = 'orientation';
	            } else {
	            	docEl.style.width = docElWidth + 'px';  
	                docEl.style.height = docElHeight + 'px';
	            	docEl.className = 'orientated';
	            }
            };
        if (!doc.addEventListener) return;
        win.addEventListener(resizeEvt, recalc, false);
        doc.addEventListener('DOMContentLoaded', recalc, false);
    };
    if(isiOS){
    	iosFun(window, document);
    } else {
    	$('#rmb-video').removeClass('orientation').addClass('orientated isAndro');
    }
	$('.imgClick').click(function(){
		$('.videoBox').hide();
		player.pause();
		$('.navList').toggleClass('slideactive');
		$('.slidelist').slideToggle('fast');
		$('.video-nav img').toggleClass('active');
	})
	$('.playIcon').click(function(){
		$('.videoBox').show();
		player.play();
	})
	setTimeout(function(){
		$('#rmb-video').css({'opacity':1});
		var videos = document.getElementsByTagName('video')[0];
		videos.addEventListener('pause', function(){
			$('.videoBox').hide();
		})
		videos.addEventListener('ended', function(){
			window.location.href = 'index.php?m=event&a=register';
		})
	}, 500)


	document.addEventListener('touchmove', function (e) { e.preventDefault(); }, isPassive() ? {
		capture: false,
		passive: false
	} : false);
	function isPassive() {
	    var supportsPassiveOption = false;
	    try {
	        addEventListener("test", null, Object.defineProperty({}, 'passive', {
	            get: function () {
	                supportsPassiveOption = true;
	            }
	        }));
	    } catch(e) {}
	    return supportsPassiveOption;
	}
</script>
{{include file="share.html"}}
{{include file="google.html"}}
</html>